#content {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    color: #888;
}

.node .node { /* doesn't apply to root node */
    margin-top: 3px;
}

.node-panel {
    border: 1px solid #bbb;
}

.node-heading {
    padding: 3px;
    background-color: #f5f5f5;
}

.node-body {
    border-top: 1px solid #bbb;
    padding: 3px;
}

.node-content {
    position: relative;
    padding-left: 20px;
}

.node-toggle, .node-show-all {
    background-color: #d5d5d5;
    border: 1px solid #999;
    border-radius: 2px;
    width: 14px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.node-closer {
    cursor: pointer;
    position: absolute;
    width: 20px;
    top: 0;
    left: 0;
    bottom: 0;
}
.node-closer > div {
    border-left: 1px solid #ddd;
    position:absolute;
    top: -3px;
    bottom: 0;
    left: 9px;
}
.node-closer:hover > div {
    border-color: #999;
}

.node-highlight {
    border: 1px solid black;
}

.node-danger > .node-panel .node-heading {
    background-color: #f2dede;
    border-color: #ebccd1;
}
