#mytreejo2 {
    font-family: sans-serif;
}

#mytreejo2 .quicklinks span {
    border-width: 1px;
    border-radius: 5px;
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    padding: 5px;
}

#mytreejo2 .node .node { /* doesn't apply to root node */
    margin-top: 3px;
}

#mytreejo2 .node-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #2e6da4;
    border-bottom: 0;
    background-color: #5bc0de;
    color: #444;
    padding: 3px;
}

#mytreejo2 .node-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #2e6da4;
    background-color: #eee;
    color: #888;
    padding: 3px;
}

#mytreejo2 .node-content {
    position: relative;
    padding-left: 20px;
}

#mytreejo2 .node-toggle, .node-show-all {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
    min-width: 14px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
#mytreejo2 .node-closer {
    cursor: pointer;
    position: absolute;
    width: 20px;
    top: 0;
    left: 0;
    bottom: 0;
}
#mytreejo2 .node-closer > div {
    border-left: 1px solid #ddd;
    position:absolute;
    top: -3px;
    bottom: 0;
    left: 9px;
}
#mytreejo2 .node-closer:hover div {
    border-color: #2e6da4;
}

#mytreejo2 .node-highlight > .node-panel .node-heading {
    background-color: #39a8bc;
    color: black;
}
#mytreejo2 .node-danger > .node-panel .node-heading {
    background-color: #d9534f;
    border-color: #d43f3a;
}
#mytreejo2 .node-danger > .node-panel .node-body {
    background-color: #f2dede;
    border-color: #d43f3a;
}
